<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AttendEase</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="ps-3 nav-link" href="" Match="NavLinkMatch.All">
                        <Icon Name="IconName.HouseDoorFill" Size="IconSize.x5" Class="pe-2" />Home
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="ps-3 nav-link" href="user">
                        <Icon Name="IconName.PeopleFill" Size="IconSize.x5" Class="pe-2" />User
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="ps-3 nav-link" href="schedule">
                        <Icon Name="IconName.Calendar3" Size="IconSize.x5" Class="pe-2" />Schedule
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Standard">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="ps-3 nav-link" href="attendance">
                        <Icon Name="IconName.ListTask" Size="IconSize.x5" Class="pe-2" />Attendance
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
