<div class="row">
    <div class="col-12 col-md-6">
        <AttendancePie />
    </div>
    <div class="col-12 col-md-6">
        <AttendanceLine />
    </div>
</div>

<hr />

<AttendanceList />

@code {

}
