@using AttendEase.DB.Models
@using AttendEase.Shared.Models
@using System.ComponentModel.DataAnnotations
@inject IUserService UserService

@if (Users is null)
{
    <Alert Color="AlertColor.Warning">
        No users were found
    </Alert>
}
else
{
    <span>The following users will be deleted:</span>
    <ol>
        @foreach (var user in Users)
        {
            if (user.Id == currentUser?.Id)
            {
                <li class="text-danger-emphasis">@user.Name (current user cannot be deleted and will be ignored)</li>
            }
            else
            {
                <li>@user.Name</li>
            }
        }
    </ol>

    @((MarkupString)message)

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <Button Color="ButtonColor.Primary" @onclick="OnDelete">Delete</Button>
    </div>
}

@code {
    [Inject] public IAuthService AuthService { get; set; } = default!;

    [Parameter] public EventCallback<DeleteUsersModel> DeletedUsers { get; set; }
    [Parameter] public IEnumerable<User> Users { get; set; } = default!;

    private User? currentUser = default!;
    private DeleteUsersModel deleteUsersModel = new();
    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await AuthService.GetUser();
    }

    private async Task OnDelete()
    {
        bool success = Users.Count() == 1
            ? await UserService.DeleteUser(Users.Where(u => u.Id != currentUser?.Id).First().Id)
            : await UserService.DeleteUsers(Users.Where(u => u.Id != currentUser?.Id).Select(u => u.Id));

        if (success)
        {
            DeleteUsersModel usersModel = new()
            {
                Users = Users.Where(u => u.Id != currentUser?.Id)
            };

            await DeletedUsers.InvokeAsync(usersModel);
        }
        else
        {
            message = "<div class='validation-message'>Failed to delete users.</div>";
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Users is not null)
        {
            deleteUsersModel.Users = Users;
        }
    }

    public class DeleteUsersModel
    {
        public IEnumerable<User> Users { get; set; } = default!;
    }
}
