@page "/attendance"
@using AttendEase.Shared.Components.Standard
@attribute [Authorize(Roles = "Standard")]

<PageTitle>Attendance</PageTitle>

<h1>Attendance Dashboard</h1>

<Tabs>
    <Tab Title="Upcoming Schedules" Active="true">
        <Content>
            <br />
            <UpcomingSchedules />
        </Content>
    </Tab>
    <Tab Title="Past Schedules">
        <Content>
        </Content>
    </Tab>
</Tabs>

@code {

}
