@page "/attendance"
@using AttendEase.Shared.Components.Standard
@attribute [Authorize(Roles = "Standard")]

<PageTitle>Attendance</PageTitle>

<div class="header-help">
    <h1>Attendance Dashboard</h1>

    <Button Color="ButtonColor.Secondary" Outline="true" @onclick="@(async () => await attendanceHelp.ToggleAsync())"><Icon Name="IconName.PatchQuestionFill" Size="IconSize.x5" /></Button>
</div>

<Collapse @ref="attendanceHelp">
    <Callout Heading="Attendance Dashboard Help">
        <Accordion>
            <AccordionItem Title="How to mark attendance">
                <Content>
                    <ol>
                        <li>Click on the "Upcoming Schedules" tab.</li>
                        <li>If attendance window is available, click on the "Mark Attendance" button.</li>
                    </ol>
                </Content>
            </AccordionItem>
        </Accordion>
    </Callout>
</Collapse>

<Tabs EnableFadeEffect="true">
    <Tab Title="Upcoming Schedules" Active="true">
        <Content>
            <br />
            <UpcomingSchedules />
        </Content>
    </Tab>
    <Tab Title="Past Schedules">
        <Content>
            <br />
            <PastSchedules />
        </Content>
    </Tab>
</Tabs>

@code {
    private Collapse attendanceHelp = default!;
}
