@page "/attendances"
@using AttendEase.Shared.Components.Attendances
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Attendances</PageTitle>

<div class="header-help">
    <h1>Attendance Management</h1>

    <Button Color="ButtonColor.Secondary" Outline="true" @onclick="@(async () => await attendancesHelp.ToggleAsync())"><Icon Name="IconName.PatchQuestionFill" Size="IconSize.x5" /></Button>
</div>

<Collapse @ref="attendancesHelp">
    <Callout Heading="Attendance Management Help">
        <Accordion>
            <AccordionItem Title="How to edit attendance">
                <Content>
                    <ol>
                        <li>Click on the "Overview" tab.</li>
                        <li>Select an attendance from the list.</li>
                        <li>Click on the "Edit Attendance" button.</li>
                        <li>Update the attendance's details.</li>
                        <li>Click on the "Edit" button.</li>
                    </ol>
                </Content>
            </AccordionItem>
            <AccordionItem Title="How to delete attendance">
                <Content>
                    <ol>
                        <li>Click on the "Overview" tab.</li>
                        <li>Select one or more attendances from the list.</li>
                        <li>Click on the "Delete Attendance" button.</li>
                        <li>Confirm the list of attendances.</li>
                        <li>Click on the "Delete" button.</li>
                    </ol>
                </Content>
            </AccordionItem>
            <AccordionItem Title="How to generate report">
                <Content>
                    <ol>
                        <li>Click on the "Overview" tab.</li>
                        <li>Click on the "Generate Report" button to download the report in CSV format.</li>
                    </ol>
                </Content>
            </AccordionItem>
        </Accordion>
    </Callout>
</Collapse>

<LayoutAttendance />

@code {
    private Collapse attendancesHelp = default!;
}
