@page "/attendance"
@using AttendEase.Shared.Components.Standard
@attribute [Authorize(Roles = "Standard")]

<PageTitle>Attendance</PageTitle>

<div class="header-help">
    <h1>Attendance Dashboard</h1>

    <Button Color="ButtonColor.Secondary" Outline="true" @onclick="@(async () => await attendanceHelp.ToggleAsync())"><Icon Name="IconName.PatchQuestionFill" Size="IconSize.x5" /></Button>
</div>

<Collapse @ref="attendanceHelp">
    <Callout Heading="Attendance Dashboard Help">
        <Accordion>
            <AccordionItem Title="How to mark attendance">
                <Content>
                    <ol>
                        <li>Click on the "Upcoming Schedules" tab.</li>
                        <li>If attendance window is available, click on the "Mark Attendance" button.</li>
                    </ol>
                </Content>
            </AccordionItem>
            <AccordionItem Title="What is being shown on the card in upcoming schedules">
                <Content>
                    <Card TextAlignment="Alignment.Center" Style="width: 18rem;">
                        <CardHeader>Schedule Name</CardHeader>
                        <CardBody>
                            <CardTitle>Schedule Details:</CardTitle>
                            <CardSubTitle Class="mb-2 text-muted">Days Of Week</CardSubTitle>
                            <CardSubTitle Class="mb-2 text-muted">Start Date - End Date</CardSubTitle>
                            <CardSubTitle Class="mb-2 text-muted">Start Time - End Time</CardSubTitle>
                            <CardText>
                                <span><Icon Name="IconName.PinMapFill" Class="me-2" />Latitude,Longitude</span>
                                <br /><em>Either</em><br />
                                <Badge Color="BadgeColor.Success" IndicatorType="BadgeIndicatorType.RoundedPill">You are within the premises</Badge>
                                <br /><em>Or</em><br />
                                <Badge Color="BadgeColor.Danger" IndicatorType="BadgeIndicatorType.RoundedPill">You are not within the premises</Badge>
                                <br /><em>Or</em><br />
                                <Badge Color="BadgeColor.Warning" IndicatorType="BadgeIndicatorType.RoundedPill">Location service not available</Badge>
                                <br /><em>Or</em><br />
                                <Badge Color="BadgeColor.Secondary" IndicatorType="BadgeIndicatorType.RoundedPill">Schedule doesn't require location tracking</Badge>
                            </CardText>
                            <CardTitle>Attendance Marking Details:</CardTitle>
                            <CardText>Start Time - End Time<br /><em>for the attendance marking window</em></CardText>
                            <CardText>
                                <em>Either</em><br />
                                <Button Color="ButtonColor.Success" Disabled="true">Attendance Marked</Button>
                                <br /><em>Or</em><br />
                                <Button Color="ButtonColor.Primary">Mark Attendance</Button>
                                <br /><em>Or</em><br />
                                <Button Color="ButtonColor.Secondary" Disabled="true">Not Attendance Window</Button>
                            </CardText>
                        </CardBody>
                    </Card>
                </Content>
            </AccordionItem>
            <AccordionItem Title="How to generate report">
                <Content>
                    <ol>
                        <li>Click on the "Past Schedules" tab.</li>
                        <li>Click on the "Overview" tab.</li>
                        <li>Click on the "Generate Report" button to download the report in CSV format.</li>
                    </ol>
                </Content>
            </AccordionItem>
        </Accordion>
    </Callout>
</Collapse>

<Tabs EnableFadeEffect="true">
    <Tab Title="Upcoming Schedules" Active="true">
        <Content>
            <br />
            <UpcomingSchedules />
        </Content>
    </Tab>
    <Tab Title="Past Schedules">
        <Content>
            <br />
            <PastSchedules />
        </Content>
    </Tab>
</Tabs>

@code {
    private Collapse attendanceHelp = default!;
}
