@page "/contacts"
@using AttendEase.Shared.Components.Contacts
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Contacts</PageTitle>

<div class="header-help">
    <h1>Contact Management</h1>

    <Button Color="ButtonColor.Secondary" Outline="true" @onclick="@(async () => await contactsHelp.ToggleAsync())"><Icon Name="IconName.PatchQuestionFill" Size="IconSize.x5" /></Button>
</div>

<Collapse @ref="contactsHelp">
    <Callout Heading="Contact Management Help">
        <Accordion>
            <AccordionItem Title="How to update status">
                <Content>
                    <ol>
                        <li>Click on the contact row to select it.</li>
                        <li>If the issue is resolved click "Mark as Close". If the issue was reopened, click "Mark as Open".</li>
                    </ol>
                </Content>
            </AccordionItem>
            <AccordionItem Title="How to delete contacts">
                <Content>
                    <ol>
                        <li>Select one or more contacts from the list.</li>
                        <li>Click on the "Delete Contacts" button.</li>
                        <li>Confirm the list of contacts.</li>
                        <li>Click on the "Delete" button.</li>
                    </ol>
                </Content>
            </AccordionItem>
        </Accordion>
    </Callout>
</Collapse>

<ListContacts />

@code {
    private Collapse contactsHelp = default!;
}
