@page "/contacts"
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Contacts</PageTitle>

<div class="header-help">
    <h1>Contact Management</h1>

    <Button Color="ButtonColor.Secondary" Outline="true" @onclick="@(async () => await contactsHelp.ToggleAsync())"><Icon Name="IconName.PatchQuestionFill" Size="IconSize.x5" /></Button>
</div>

<Collapse @ref="contactsHelp">
    <Callout Heading="Contact Management Help">
        <Accordion>
            <AccordionItem Title="Help coming soon...">
                <Content>
                    <ol>
                        <li>Help coming soon...</li>
                    </ol>
                </Content>
            </AccordionItem>
        </Accordion>
    </Callout>
</Collapse>

@code {
    private Collapse contactsHelp = default!;
}
