@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h1>Admin Home Page</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Business">
    <Authorized>
        <h1>Business Home Page</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Standard">
    <Authorized>
        <h1>Standard Home Page</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        Welcome to AttendEase, @(context?.User?.Identity?.Name ?? string.Empty)
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to AttendEase!</h1>

        <Login />
    </NotAuthorized>
</AuthorizeView>
