@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Home Page</h1>

        Home page coming soon!
    </Authorized>

    <NotAuthorized>
        <h1>Welcome to AttendEase!</h1>

        <Login />
    </NotAuthorized>
</AuthorizeView>
