@page "/schedules"
@using AttendEase.Shared.Components.Schedules
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Schedules</PageTitle>

<h1>Schedule Management</h1>

<ListSchedules />

@code {

}
